@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-size: 1rem;
    color: theme("colors.navyBlue");
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

@layer components {

}

@layer utilities {
  
}