@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-size: 1rem;
    color: theme("colors.navyBlue");
    font-family: 'Lora', serif;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

@layer components {
  .mapContainer {
    height: 100%;
  }
  :root {
    --rsbs-backdrop-bg: theme("colors.beige1");
    --rsbs-bg: theme("colors.beige1");
    --rsbs-handle-bg: theme("colors.navyBlue");
    /* --rsbs-max-w: auto;
    --rsbs-ml: env(safe-area-inset-left);
    --rsbs-mr: env(safe-area-inset-right);*/
  }
  
}

@layer utilities {
}