@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-size: 1rem;
    color: theme("colors.navyBlue");
    font-family: 'Lora', serif;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

@layer components {
  .mapContainer {
    height: 100%;
  }
  :root {
    --rsbs-bg: theme("colors.beige2");
    --rsbs-handle-bg: theme("colors.navyBlue");
  }

  @media (min-width: 1000px){
    .mapContainer {
      margin: auto;
      width: 80%;
      border-radius: 0.5rem;
    }
    :root {
      --rsbs-max-w: 80%;
      --rsbs-ml: auto;
      --rsbs-mr: auto;
    }
  }
  
}

@layer utilities {
}
